[Unit]
Description=x265_encoding_service
After=network.target
Before=apache2.service httpd.service

[Service]
ExecStart=/usr/bin/x265_encoding_service --config /etc/x265_encoding_service.conf --daemon --user x265-es --umask 0002 --pidfile /tmp/x265_encoding_service.pid
Type=forking
PIDFile=/tmp/x265_encoding_service.pid

[Install]
WantedBy=multi-user.target
